{% extends "base.html" %}

{% block content %}

<a class="btn btn-primary btn-block" href="{% url 'token-create' %}">Generate</a>
<hr />

{% for object in object_list %}
<div class="card border-light mb-3">
  
  <div class="card-body">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <h4 class="card-title">{{ object }} <small class="text-muted">{{ object.expires|timeuntil }} left</small></h4>
      </div>
      <div class="col-lg-3 col-sm-12">
        <button type="button" class="btn btn-primary btn-block">Renew / Update</button>
      </div>
    </div>
    
    <p class="card-text">{% firstof object.notes 'No information provided.' %}</p>
  </div>
</div>
{% empty %}
<div class="card border-light">
  <p class="lead p-3">No tokens found!</p>
</div>
{% endfor %}

<div class="row">
  
  <!-- left column -->
  <div class="col-lg-9 col-sm-12">
    <ul>
    
    </ul>
  </div>
  <!-- end left column -->
  
  <!-- right column -->
  <div class="col-lg-3 col-sm-12">
    
  </div>
  <!-- end right column -->
  
</div>


{% endblock %}