{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.dataTables.min.css' %}">
{% endblock %}

{% block content %}

<a class="btn btn-primary btn-block" href="{% url 'token-create' %}">Generate</a>
<hr />

<table id="dashboardTable" class="table table-hover">
  <thead>
    <tr>
      <th>Token</th>
      <th>Application</th>
      <th class="none">Notes</th>
      <th>Expires</th>
      <th>Activity</th>
      <th>Created</th>
      <th class="none">Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        <td>{{ object.application }}</td>
        <td>{% firstof object.notes 'No information provided.' %}</td>
        <td>{{ object.expires|timeuntil }} left</td>
        <td><span class="inlinesparkline">{{ object.trendline }}</span></td>
        <td>{{ object.created|date:'Y-m-d H:i:s' }}</td>
        <td><ul>{{ object.tag_list|unordered_list }}</ul></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr />

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.sparkline.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.responsive.min.js' %}"></script>

<!-- sparklines -->
<script type="text/javascript">
  $(function() {
    /** This code runs when everything has been loaded on the page */
    /* Inline sparklines take their values from the contents of the tag */
    $('.inlinesparkline').sparkline();
  });
</script>
<!-- end sparklines --?

<!-- datatables -->
<script type="text/javascript">
  $(function() {
    $('#dashboardTable').DataTable({
      responsive: true,
      pagingType: "simple",
      order: [[ 3, "desc" ]]
    });
  });
</script>
<!-- end datatables -->

{% endblock %}