{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}

<a class="btn btn-primary btn-block" href="{% url 'token-create' %}">Generate</a>
<hr />

<table id="dashboardTable" class="table table-hover" style="width:100%">
  <thead>
    <tr>
        <th>Token</th>
        <th>Notes</th>
        <th>Expires</th>
        <th>Activity</th>
        <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        <td>{% firstof object.notes 'No information provided.' %}</td>
        <td>{{ object.expires|timeuntil }} left</td>
        <td><span class="inlinesparkline">{% for metric in object.statistics.hourly %}{{ metric.num_events }},{% empty %}0,0,0,0,0,0,0{% endfor %}</span></td>
        <td>{{ object.tag_list }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



<div class="row">
  
  <!-- left column -->
  <div class="col-lg-9 col-sm-12">
    <ul>
    
    </ul>
  </div>
  <!-- end left column -->
  
  <!-- right column -->
  <div class="col-lg-3 col-sm-12">
    
  </div>
  <!-- end right column -->
  
</div>

<hr />

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.sparkline.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>


<!-- sparklines -->
<script type="text/javascript">
    $(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();
    });
</script>
<!-- end sparklines --?

<!-- datatables -->
<script type="text/javascript">
  $(document).ready( function () {
      $('#dashboardTable').DataTable();
  } );
</script>
<!-- end datatables -->

{% endblock %}