{% extends 'common/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.dataTables.min.css' %}">
{% endblock %}

{% block content %}
<h4>{{ object }} <small class="text-muted">({{ object.expires|timeuntil }} left)</small></h4>
<hr />

<div class="row">
  <!-- left column -->
  <div class="col-lg-9 col-sm-12">
    <div class="card border-light mb-3">
      <div class="card-body">
        
        <h4 class="card-title">Attributes</h4>
        <hr />
        
        <div class="row">
          <!-- left attribute column -->
          <div class="col-sm-12 col-lg-6">
            <dl>
              <dt>Application</dt>
              <dd>{% firstof object.application 'Unknown' %}</dd>
              
              <dt>Retention</dt>
              <dd>{{ object.retain }} days</dd>
              
              <dt>Creator</dt>
              <dd>{{ object.user }} {% if object.user.email %}({{ object.user.email|urlize }}){% endif %}</dd>
              
              <dt>Contact</dt>
              <dd>{% firstof object.contact|urlize object.user.email|urlize 'None provided.' %}</dd>
            </dl>
          </div>
          <!-- end left attribute column -->
          
          <!-- right attribute column -->
          <div class="col-sm-12 col-lg-6">
            <dl>
              <dt>Created</dt>
              <dd>{{ object.created }}</dd>
              
              <dt>Updated</dt>
              <dd>{{ object.updated }}</dd>
            
              <dt>Expires</dt>
              <dd>{{ object.expires }} <br />({{ object.expires|timeuntil }} left)</dd>
            </dl>
          </div>
          <!-- end right attribute column -->
        </div>
        
        <hr />
        
        <dl class="row">
          <dt class="col-sm-2">Notes</dt>
          <dd class="col-sm-10">{% firstof object.notes 'No information provided.' %}</dd>
        </dl>
        <hr />
        <dl class="row">
          {% if object.tag_list %}
          <dt class="col-sm-2">Tags</dt>
          <dd class="col-sm-10">{% for tag in object.tag_list %}<span class="badge badge-light">{{ tag }}</span> {% endfor %}</dd>
          {% endif %}
        </dl>
        
      </div>
    </div>
    
    <div class="card border-light mb-3">
      
      <div class="card-body">
        <h4 class="card-title">Host Summary <small class="text-muted"></small></h4>

        <table id="hostTable" class="table table-hover" style="width:100%">
          <thead>
            <tr>
                <th>Host</th>
                <th>Events</th>
                <th>Size</th>
                <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            {% for host in host_summary %}
            <tr>
                <td>{{ host.host }}</td>
                <td>{{ host.num_events }}</td>
                <td>{{ host.num_bytes|filesizeformat }}</td>
                <td><span class="inlinesparkline">{{ host.trendline }}</span></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No recent data!</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div>
        
    <div class="card border-light mb-3">
      
      <div class="card-body">
        <h4 class="card-title">Metrics Log</h4>
        <hr />
        
        <table id="detailTable" class="table table-hover" style="width:100%">
          <thead>
            <tr>
                <th>Date</th>
                <th>Host</th>
                <th>Service</th>
                <th>Events</th>
                <th>Bytes</th>
                <th>Size</th>
            </tr>
          </thead>
          <tbody>
            {% for metric in object.statistics.hourly_by_app %}
            <tr>
                <td>{{ metric.ts|date:"Y-m-d H" }}:00</td>
                <td>{{ metric.host }}</td>
                <td>{{ metric.app }}</td>
                <td>{{ metric.num_events }}</td>
                <td>{{ metric.num_bytes }}</td>
                <td>{{ metric.num_bytes|filesizeformat }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No recent data!</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div>
    
    
    
  </div>
  <!-- end left column -->
  
  <!-- right column -->
  <div class="col-lg-3 col-sm-12">
    <div class="card border-light mb-3">
      <div class="card-body">
        <a class="btn btn-block btn-primary mb-3" href="{% url 'token-update' object %}?next={{ request.path }}" >Update / Renew</a>
        <a class="btn btn-block btn-danger mb-3" href="{% url 'token-delete' object %}">Delete</a>
        {% if request.user.is_staff %}<a class="btn btn-block btn-outline-danger mb-3" href="{{ object.get_admin_url }}">Admin</a>{% endif %}
      </div>
    </div>
  </div>
  <!-- end right column -->
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.sparkline.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.responsive.min.js' %}"></script>

<!-- sparklines -->
<script type="text/javascript">
    $(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();
    });
</script>
<!-- end sparklines --?

<!-- datatables -->
<script type="text/javascript">
  $(document).ready( function () {
      $('#detailTable').DataTable({
      responsive: true,
      pagingType: "simple",
      order: [[ 0, "desc" ]]
    });
  } );
  
  $(document).ready( function () {
      $('#hostTable').DataTable({
      responsive: true,
      pagingType: "simple",
    });
  } );
</script>
<!-- end datatables -->

{% endblock %}