# Load balance log traffic across available servers
stream {
    upstream consumers {
    {% for server in groups.node %}
        server {{ server }}:514;
    {% endfor %}
    }

    server {
        listen 514 udp;
        
        proxy_pass consumers;
        
        # This may not even do anything for UDP
        proxy_timeout 2s;
        
        # rsyslog UDP does not return a response, do not wait for one
        proxy_responses 0; 
        
        error_log /var/log/nginx/gw_errors.log;
    }
}