server {
    listen 80;
    server_name paragun.labs.strika.co;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static {
        alias /var/www/paragun/static;
    }

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:7000;
    }
}